{% extends "KreatysUserBundle::layout.html.twig" %}

{% block fos_user_title %}
    Nouveau mot de passe
{% endblock %}

{% block fos_user_content %}


    {% if citoyen is null %}
        <div class="alert alert-danger">
            <i class="fa fa-warning"></i> Le lien est invalide.
        </div>
    {% else %}
        <form action="{{ path('user_password_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="user-form">
            
            
            <div>

                {{ form_errors(form) }}

                <div class="form-group{{ form.new.first.vars.errors|length > 0 ? ' has-error' : '' }}">
                    <label for="">{{ form.new.first.vars.label|trans({}, 'FOSUserBundle') }}</label>
                    {{ form_widget(form.new.first) }}
                    {{ form_errors(form.new.first) }}
                </div>
                <div class="form-group margin-bottom-50{{ form.new.second.vars.errors|length > 0 ? ' has-error' : '' }}">
                    <label for="">{{ form.new.second.vars.label|trans({}, 'FOSUserBundle') }}</label>
                    {{ form_widget(form.new.second) }}
                    {{ form_errors(form.new.second) }}
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-info btn-md btn-form-submit">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>
            {{ form_rest(form) }}
        </form> 
    {% endif %}


{% endblock %}

