{#
This file is part of the Sonata package.
(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends sonata_block.templates.block_base %}

{% block block %}
    <!-- small box -->
    {#    {{ dump(settings) }}#}
{#        {{ dump(pager.count) }}#}
    {#    {{ dump(datagrid.results) }}#}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa {{ settings.icon }}"></i> {{ settings.text|trans({}, admin.translationDomain) }} ({{ pager.count }})</h3>
        </div>
        <div class="box-body">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Annonce</th>
                        <th>Date création</th>
{#                        <th>&nbsp;</th>#}
                    </tr>
                </thead>
                <tbody>
                    {% for annonce in datagrid.results %}
                        <tr>
                            <td>{{ annonce }}</td>
                            <td class="text-center">{{ annonce.created|date("d/m/Y \\à H\\hi") }}</td>
{#                            <td class="text-center"><a href="{{ path('admin_yourfreelance_user_annonce_show', { 'id' : annonce.id }) }}" class="btn btn-xs btn-block btn-primary"><i class="fa fa-eye"></i></a></td>#}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">{{ settings.emptyText }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer"><a href="{{ admin.generateUrl('list', {filter: settings.filters}) }}" class="btn btn-block btn-sm btn-primary">Voir la liste complète</a></div>
    </div>
{% endblock %}